<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SupabaseApiBaseUrl" value="https://hrqakudeaalvgstpupdu.supabase.co"/>
		<add key="SupabaseApiKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhycWFrdWRlYWFsdmdzdHB1cGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI5NDk3MzAsImV4cCI6MjA1ODUyNTczMH0.k30q2Ndf-YI0RPGiwllMGJFPYMp5XoRQilCktlMmqFU"/>

		<add key="LastFMApiBaseUrl" value="https://ws.audioscrobbler.com/2.0/"/>
		<add key="LastFMApiKey" value="1456c592b2d19dabd13468f0eee62dc9"/>
		<add key="LastFMApiUsername" value="beecrimes"/>
		
		
	</appSettings>
</configuration>