<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SupabaseApiBaseUrl" value="https://hrqakudeaalvgstpupdu.supabase.co"/>
		<add key="SupabaseApiKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhycWFrdWRlYWFsdmdzdHB1cGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI5NDk3MzAsImV4cCI6MjA1ODUyNTczMH0.k30q2Ndf-YI0RPGiwllMGJFPYMp5XoRQilCktlMmqFU"/>

		<add key="LastFMApiBaseUrl" value="https://ws.audioscrobbler.com/2.0/"/>
		<add key="LastFMApiKey" value="1456c592b2d19dabd13468f0eee62dc9"/>
		<add key="LastFMApiUsername" value="beecrimes"/>

		<add key="TMDBApiBaseUrl" value="https://api.themoviedb.org/3/account/"/>
		<add key="TMDBApiUser" value="21779129"/>
		<add key="TMDBApiAuthToken" value="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhOWNhY2ExNDI2MzI3YmQ5ZmE2MTI2NTRiNTk5NTIwNCIsIm5iZiI6MTczNzk5ODQ1OS40MDIsInN1YiI6IjY3OTdjMDdiMDljMjUyZTNhYjIzZGY2YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.zmcMBdlO7wllH_BvB1mZaqvydJC98yN7WuqhQePF004"/>

		<add key="SteamApiBaseUrl" value="http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?"/>
		<add key="SteamAPIKey" value="7EAD69F5DE0FAF82B8F8F2B1FB37898A"/>
		<add key="SteamAPIFormat" value="json"/>
	</appSettings>
</configuration>