
body {
    background-color: #343030;
    color: white;
}


.sidebar {
    height: 100vh;
    background: #0c0c0c;
    padding: 20px;
}

.sidebar h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    color: rgb(124, 109, 109);
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #e3c7c7;
    color: #0c0c0c;
}

.favorite {
    cursor: pointer;
}

.favorite:hover {
    color: gold;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table thead th {
    background: #222;
}

.card {
    border-radius: 10px;
}
