
.bg-dark-primary {
    background-color: rgb(32,32,32);
}

.bg-dark-secondary {
    background-color: rgb(16,16,16);
}

body {
    color: white;
}

.text-title-secondary {
    color: rgb(200,200,200);
    border-left: 1px solid rgb(150,150,150);
    padding-left: .6rem;
}

.tab-icon {
    max-width: 40px;
}

.search-select {
    max-width: min-content;
    font-size: 1.1rem;
    background-color: rgb(240,240,240);
    border-left: 1px solid rgb(200,200,200);
}

.search-select option {
    background-color: white;
}

img.game-icon {
    height: 32px;
    margin-right: .5rem;
}

.media-tab {
    font-size: 1.2rem;
}

#btn-home {
    font-size: 1.25rem;
}

.sidebar {
    height: 100vh;
    padding: 10px 20px 20px 20px;
    position: sticky;
    top: 0;
}

.sidebar h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #323539;
    color: #ffffff;
}

.sidebar hr {
    margin: .75rem 0;
}

.filter-label > div {
    align-content: center;
    max-width: fit-content;
}

.filter-label p, .filter-label button {
    max-width: fit-content;
    margin-bottom: 0;
}

.filter-label button {
    font-size: 0.9rem;
    min-width: fit-content;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.favorite {
    cursor: pointer;
}

.favorite:hover {
    color: gold;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table thead th {
    background: rgb(16,16,16);
}

a.sort-link {
    color: white;
}

.card {
    border-radius: 10px;
}
